docs/build

clean~
clean
*.swp
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# eclipse related files 
.project
.pydevproject
.settings/

# pycharm files
.idea/

# data files
*.nc
*.prof

# fig and movies
*.jpg
*.pdf
*.mp4
output/movies/
output/img/

# openoffice
*.odp#

