qgsolver/

clean~
clean
*.swp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# eclipse related files 
.project
.pydevproject
.settings/

# pycharm files
.idea/

# data files
*.nc
users/aurelien/run*/*.py

# fig and movies
*.jpg
*.pdf
*.mp4

# openoffice
*.odp#

